@using Microsoft.AspNet.Identity
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="@Url.Action("Index", "Home")" title="☢️ Система анкетирования">
        <img src="~/Content/images/logo.png" class="img-fluid" alt="Система анкетирования" />
    </a>
    <button class="btn btn-light btn-sm d-inline d-sm-none order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
    <div class="input-group"></div>
    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        @if (Request.IsAuthenticated)
        {
            <li class="nav-item dropdown no-arrow mx-2">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                    @User.Identity.GetUserName()
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    @if (!ViewContext.HttpContext.GetOverriddenBrowser().IsMobileDevice)
                    {
                    <a class="dropdown-item" href="@Url.Action("Edit", "User", new {id = @User.Identity.GetUserId()})" title="Личные данные / Employee card"><i class="fa fa-id-badge"></i> Employee card</a>
                    }
                    <div class="dropdown-divider m-0"></div>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        <a class="dropdown-item" href="#" title="👋 Выход/Logout" onclick="document.getElementById('logoutForm').submit()" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt badge-danger"></i> Выход / Logout</a>
                    }
                </div>
            </li>
        }
        else
        {
            <li class="nav-item dropdown no-arrow mx-2">
                <a class="nav-link dropdown-toggle" href="@Url.Action("Login", "Account")" title="Вход / Login"><i class="fas fa-sign-in-alt"></i> Вход / Login</a>
            </li>
        }
    </ul>
</nav>