@using Web.SurveySystem.Helpers
@model Web.SurveySystem.Models.LoginViewModel
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <meta name="description" content="serveysystem.titan2.ru">
    <meta name="author" content="a.loginov">
    @{
        ViewBag.Title = "Survey System";
        Layout = null;
    }
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/loginCss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/loginJs")
    <script>
        sessionStorage.clear();
        localStorage.clear();
    </script>
</head>
<div id="infomess"></div>
<body>
<div class="modal" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered h-100 w-100 modal-sm justify-content-center align-items-center" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="limiter">
    <div class="container-login100" style="background-image: url('/Content/images/surveybackground.jpg'); background-color: #ffffff; background-color: rgba(255, 255, 255, 0.7);">
        <div class="wrap-login100 p-l-50 p-r-56 p-t-55 p-b-50">
            @using (Ajax.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", OnBegin = "onBegin", HttpMethod = "POST" },
                new { id = "Logonform", @class = "login100-form validate-form" }))
            {
                @Html.AntiForgeryToken()
                <span class="login100-form-title p-b-25">
                    <img class="img-fluid" src="~/Content/images/logo.png" alt="logo" width="300" style="margin: 0 auto;">
                </span>
                <div class="wrap-input100 validate-input m-b-20" data-validate="Email is reauired">
                    <span class="label-input100 text-primary font-weight-bold">Login / Email</span>
                    @Html.TextBoxFor(m => m.LoginName, new { id = "login", @class = "input100", @type = "text", @maxlength = "100", autofocus = "autofocus" })
                    <span class="focus-input100" data-symbol="&#x2709;"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-20" data-validate="Password is required">
                    <span class="label-input100 text-primary font-weight-bold">Password</span>
                    <span class="btn-show-pass m-t-15"><i class="zmdi zmdi-eye"></i></span>
                    @Html.TextBoxFor(m => m.Password, new { id = "password", @class = "input100", @type = "password", @maxlength = "50", autocomplete = "off" })
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>
                <div class="container-login100-form-btn m-t-25 m-b-1">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button id="btnSubmit" class="login100-form-btn">
                            Вход / Login
                        </button>
                    </div>
                </div>
            }
            <div class="text-right p-t-10">
                <span class="txt1 text-right text-primary">@Html.ApplicationVersion()</span>
            </div>
            @if (string.IsNullOrEmpty(ViewBag.Warn))
            {
                <div class="alert alert-danger text-center mt-3 p-t-10 d-none" id="errorMessage" role="alert"></div>
            }
            else
            {
                <div class="alert alert-danger mt-3 text-center p-t-10" id="errorMessage" role="alert">@ViewBag.Warn</div>
            }
            <div class="text-center p-t-90">
                <span class="txt1 text-right">ServeySystem &copy; titan2.ru, @DateTime.Now.Year</span>
                <br />
                <span class="txt1 text-right">Все права защищены | All rights reserved</span>
            </div>

        </div>
    </div>
</div>
</body>
</html>

