@using Web.SurveySystem.Helpers
    @{
        ViewBag.Title = "Начать тестирование / Start Testing";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <script>
        window.InvitationId = '@(ViewBag.InvitationId)';
        window.InvitationCode = '@(ViewBag.InvitationCode)';
    window.SurveyCode = '@(ViewBag.SurveyCode)';
    window.CurrentUserId = '@(ViewBag.CurrentUserId)';
    </script>

    @section scripts
{
        @Scripts.Render("~/Scripts/app/invitation/invitation.start.js")
    }

        @*<h4 class="text-danger">Уважаемый(ая) @User.Identity.Name / Dear @User.Identity.Name</h4>*@

        <div class="row" style="padding: 15px 5px 5px 5px;">
            <div class="col">
                <div class="card col-12 border-warning">
                    <div class="card-body">
                        <div class="row">
                            <h5>Уважаемый(ая) / Dear @User.GetFullName()</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <script type="text/x-kendo-template" id="headerStartSurvey">
            <div class="form-group row info">
                <fieldset class="col-xs-12 col-sm-12" style="border: 2px solid; width: 10px">

                    <legend style="font-size:22px;">Вы были приглашены пройти тест #=data.Survey.SurveyCode# / You were invited to pass a test #=data.Survey.SurveyCode#</legend>
                    <table class="table" style="table-layout: fixed; width: 100%;">
                        <tr>
                            <th colspan="5" style="width: 100%;">Приглашение для пользователя / Invitation for user: #=data.UserName#, #=data.UserEmail#</th>
                        </tr>
                        <tr>
                            <th min-width="30%">Название теста <br /> Test Name</th>
                            <th min-width="40%">Цель <br /> Purpose</th>
                            <th min-width="10%">Пройти до <br /> Deadline</th>
                            <th min-width="10%">Время <br /> Est.time</th>
                            <th min-width="10%">Анонимный <br /> Is Anonymous</th>
                        </tr>
                        <tr>
                            <td><span class="label label-info">#=data.Survey.NameRus# / #=data.Survey.NameEng#</span></td>
                            <td><span class="label label-info">#=data.Survey.PurposeRus# / #=data.Survey.PurposeEng#</span></td>
                            <td><span class="label label-info">#= kendo.toString(kendo.parseDate(data.DateEnd), "dd.MM.yyyy HH:mm") #</span></td>
                            <td><span class="label label-info"> #=data.Survey.TimeEstimateMin#</span></td>
                            <td> <input type="checkbox" #=data.Survey.IsAnonymous ? "checked=checked" : "" # disabled="disabled" /></td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </script>
        <div class="row">
            <div class="col">
                <div id="contentStartUser" class="ml-4 mr-4"></div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg"><i class="fa fa-home" aria-hidden="true"></i> Отмена / Cancel </a>
                <a href="@Url.Action("Initiate", "Invitation", new {invitationId = ViewBag.InvitationId})" method="POST" class="btn btn-success btn-lg"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Начать тестирование / Start </a>
            </div>
        </div>
